#Page-metadata-container {
  margin-bottom:20px;
  margin-top:0.3em;
  padding:20px;
}

#Page-metadata-container h3 {
  padding: 0 0 .5em 0;
}

#Page-metadata-container .page-metadata-row {
  width: 100%;
  overflow: hidden;
  margin: 0 0 .5em 0;
}

#Page-metadata-new {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

#Page-metadata-container label {
  width: 20%;
  display: block;
  float: left;
  text-align: right;
  margin-top: .25em;
}

#Page-metadata-container .page-metadata-column {
  display: block;
  margin-left: 21.5%;
}

#Page-metadata-container input.page-metadata-value {
  border: 1px solid #ccc;
  font-size: 100%;
}

#Page-metadata-delete-table {
  margin: 1em 0;
}

.popup .error-message {
  margin: .5em auto;
}